body {
    background-color: #000000;
    overflow: hidden;} 

main::after {
    content: ""; 
    position: fixed; 
    top: 0; 
    left: 0; 
    min-height: 100vh; 
    min-width: 80vw; 

    background: linear-gradient(-233deg, black 40%, rgba(0, 0, 0, 0) 65%), no-repeat;
    /* agora, vai lá no conteúdo e joga ele para cima com o z-index */
}

.personagem { /* todos que tiverem a classe personagem serão modificados */
    display: none; /* não mostrar personagem */
}

.personagem.selecionado { 
    display: block; /* mostrar personagem.selecionado */
}

.personagem .imagem {
    width: 100%;
    height: 100%;
    height: 100vh;
    object-fit: cover;   
}

.conteudo {
    position: absolute; /* deixa o elemento sobreposto de tudo na página (logo one piece, nome e descrição) */
    top: 0; 
    left: 120px; 
    
    display:flex; 
    flex-direction:column; 
    min-height: 100vh; 
    justify-content: center; 
    max-width: 380px;
    z-index: 1; 
    /* deixando o conteúdo por cima da gradiência */

    .nome-personagem {
        color: white;
        font-size: 49px;
        font-family: secular one;
        font-weight: 250;
        margin-bottom: 20px;
    }

    .descricao-personagem {
        color: white;
        font-family: "rubik";
        line-height: 25px;
    }

    .logo-onepiece {
        background-image: url("../imagens/one-piece-logo.png");
        background-size: cover;
        height: 146px;
        width: 260px;
    }

}

.botoes {
    position: fixed; 
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 200px;

    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    gap: 14px; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.3);

    .botao{
        border: none; 
        background: black; 
        cursor: pointer; 
        border-radius: 50%; 
        box-shadow: 0 0 2px #727272;
    }

    .botao img { 
        border-radius: 50%; 
        max-width: 80px; 
    }

    .botao.selecionado{
        transform: scale(1.3); 
        box-shadow: 0 0 20px #727272; 
    }
}
